body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


h1 {
    margin-top: 50px;
}

#image-upload {
    margin-top: 20px;
}

#classify-button {
    margin-top: 20px;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}
